{% from "macros/fields.tmpl" import render_input_field, render_password_field, render_input_choice,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Edit account{% endblock %}

{% block content %}
  <h3>Edit account</h3>
  <form method="POST" id="register-form">
    {{ form.hidden_tag() }}
    {{ render_input_field(form.username) }}
    {{ render_input_field(form.email) }}
    {{ render_password_field(form.password) }}
    {{ render_input_field(form.card_number) }}
    {{ render_input_field(form.full_name) }}
    {{ render_input_choice(form.groups) }}
    {{ render_submit() }}
  </form>
{% endblock %}
