{% extends "shared/layout.tmpl" %}

{% block content %}

<table id="example" class="display table table-striped" cellspacing="0" width="100%">
<thead>
<tr>
<th>ID</th>
<th>Time</th>
<th>Card_Number</th>
</tr>
</thead>
</table>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
$('#example').dataTable( {
"processing": true,
"ajax": "/tbl_isdata/0/0",
"fnRowCallback": function( nRow, data, iDisplayIndex ) {
            $('td:eq(2)', nRow).html('<a href="delete_record/' + data.card_number + '">' +
                data.card_number + '</a>');
            return nRow;
        },
"columns": [
{ "data": "id" },
{ "data": "time" },
{ "data": "card_number" },
]
} );
} );
</script>
{% endblock %}